<!DOCTYPE html>
<html th:fragment="plantilla(titulo, contenido)" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
	<base th:href="@{/}">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:replace="${titulo}">TITULO</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/bootstrap-icons.min.css">
	<link rel="stylesheet" href="css/custom.css">
</head>

<body>
	<nav class="navbar bg-dark border-bottom border-body navbar-expand-md mb-3" data-bs-theme="dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Biblioteca</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item"><a class="nav-link" th:href="@{/}">Principal</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listado-libros}">Libros</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listado-clientes}">Clientes</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listado-autores}">Autores</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/listado-prestamos}">Préstamos</a></li>
				</ul>
				<ul class="navbar-nav mb-2 mb-md-0">
					<li sec:authorize="isAuthenticated()"><button type="button" class="btn btn-dark"
							data-bs-toggle="modal" data-bs-target="#exampleModal">
							<i class="bi bi-bag-fill"></i>
						</button></li>
					<li id="usuario-activo" class="navbar-text" sec:authorize="isAuthenticated()"
						sec:authentication="name">Usuario</li>
<!--incluímos favoritos-->
					<li class="nav-item position-relative"><a href="#" class="nav-link" data-bs-toggle="collapse"
							data-bs-target="#favoritos">Favoritos</a>
						<div class="z-3 collapse list-group text-bg-dark position-absolute end-0" id="favoritos">
							<a th:each="libro: ${favoritos.libros.values}" href="#"
								class="list-group-item list-group-item-action" aria-current="true">
								<div class="d-flex w-100 justify-content-between">
									<h6 class="mb-1" th:text="${libro.nombre}">LIBRO</h6>
									<h6 class="mb-1" th:text="${libro.autor.nombre}+' '+${libro.autor.apellido}">AUTOR</h6>
									<h6 class="mb-1" th:text="${libro.isbn}">ISBN</h5>
								</div>
							</a>
						</div>
					</li>
<!--incluímos favoritos-->

					<li class="nav-item" sec:authorize="!isAuthenticated()"><a class="nav-link"
							th:href="@{/login}">Inicio sesión</a></li>
					<li class="nav-item" sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="post">
							<button class="nav-link">
								<i class="bi bi-box-arrow-right"></i>
							</button>
						</form>
					</li>
				</ul>
			</div>
		</div>

	</nav>
	<div th:replace="${contenido}">CONTENIDO</div>
	<div class="backlink">
		<a href="javascript:history.back()"><i class="bi bi-skip-backward"></i></a>
	</div>
	<footer class="p-2 text-bg-dark mt-3">
		<p>&copy;2024 Koldo Arretxea</p>
	</footer>
	<script src="js/bootstrap.bundle.min.js"></script>
</body>

</html>