<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Editar Libro</title>
</head>

<body>
	<main>
		<h1 class="display-1 p-3"></h1>
		<h1 class="display-1 p-3">Editar Libro</h1>

		<form th:action="@{/guardarCambiosLibro}" method="post" th:object="${libro}">
			<div class="form-group mb-3 mt-3  p-3">
				<input type="hidden" th:field="*{id}">
				<input class="form-control" th:field="*{nombre}" placeholder="Nombre" autofocus>
				<span class="text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></span>
				<input class="form-control" th:field="*{isbn}" placeholder="ISBN">
				<span class="text-danger" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}"></span>
				<input class="form-control" th:field="*{descripcion}" placeholder="Descripción">
				<span class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></span>
<!--				<input class="form-control" th:field="*{autor.nombre}+' '+*{autor.apellido}" placeholder="Nombre de Autor">-->
<!--				<span class="text-danger" th:if="${#fields.hasErrors('autor.nombre')}" th:errors="*{autor.nombre}"></span>-->
				<input class="form-control" th:field="*{autor.id}" placeholder="Id de Autor">
				<span class="text-danger" th:if="${#fields.hasErrors('autor.id')}" th:errors="*{autor.id}"></span>

				<button class="btn btn-primary" type="submit">Actualizar</button>
			</div>
		</form>
	</main>
</body>

</html>